<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	
	<!--实例化SqlSessionFactoryBean  -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:/mybatis/mybatis-config.xml"/>
		<property name="mapperLocations" value="classpath:/mybatis/mapper/*.xml"/>
		<property name="typeAliasesPackage" value="com.jt.common.po"/>
	</bean>
	
	<!--为mapper接口创建代理对象 
		1.JDK动态代理
			要求:要求被代理者必须实现接口
		2.CGlib动态代理
			特点:有无接口都可以创建代理对象.但是创建出来的代理
			对象是目标对象的子类.
		3.spring创建代理对象的原则
			如果被代理者实现了接口,则采用JDK代理.如果
			没有实现接口,则采用CGLIB
		特点:只有cgLib可以强制使用,强制使用JDK代理有风险.
	 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.jt.sso.mapper"/>
	</bean>	
	
	
	
	
	
	
	
	
	
</beans>